.view_title span:hover {
  background: var(--secondary-color);
}

.book_details_cta p:hover {
  color: var(--primary-color);
}

.header_menu li:hover a {
  color: var(--secondary-color);
}

.project_author:hover {
  color: var(--primary-color);
}

.mm_list li:hover a {
  color: var(--primary-color);
}
