footer {
  height: 50px;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-size: 14px;
  color: var(--primary-color);
}

.project_author {
  color: #ffffff;
}
